body {
  background-image: linear-gradient(to right top, oklch(0% 0.48 279 / 74%), oklch(0% 0.14 95 / 94%));
  height: 100vh;
}


.center {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 200px; 
}

.signHeading {
  color: #403754;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family:'Roboto';
    font-size: 55px;
}
header h1 {
   background-image: linear-gradient(to right top, oklch(0% 0.48 279 /60%), oklch(0% 0.14 95));
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: "McLaren";
    font-weight: 100;
  }
.signInUp{
  background-color: #2761CE;
}
footer {
    background-color: #333333;
    position: absolute;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.3);
  }
header {
    background-color: #333333;
    height: 75px;
    padding: 16px 32px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  }

.emailEntry{
    margin: 10px;
    width: 35%;

}
.passwordEntry{
    width: 35%;
    margin-bottom:10px;
}

.signBtn{
    margin-top: 20px;
    width:8%;
    width: 20%; max-width: 500px;
}

.addBtn{
    margin-top: 20px;
    display: flex;
  justify-content: center;
  align-items: center;
}

.addBtn .btn {
    background-color: #757575;
}
.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.dropDwn::-webkit-scrollbar {
  display: none;
}

.activated{
  color: black;
}
.timer {
  background-image: linear-gradient(to right top, oklch(0% 0.48 279 /60%), oklch(0% 0.14 95));
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 0 2px 5px #000000;
  padding: 5px;
  width: 250px;
  height: 150px;
  margin: 16px;
  float: left;
}
.timer h1 {
  margin-right: 0px;
  color: wheat;
  font-size: 50px;
  margin-bottom: 6px;
}
.timer input {
  margin-top: 15px;
  margin-left: 50px;
  padding: 5px;
    font-size: 30px;
  margin-bottom: 10px;}

  .timerHeading {
    display: flex;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #000;
  }


.headingMargin{
  margin-right:200px;
}
.form-check{
  margin-left: 50px;
}

.SignOut{
  margin-top: 5px;
  background-color:#757575;
  color:white
}

.emailPassExists {
  margin-left: 33%;
  margin-bottom: 5px;
}
.deleteButton {
  margin-top:10px;
  margin-left: 25%;
  width: 50%;
  background-color: #443C83;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #4f4f4f;
}

